
.navbar-wrapper_sf1{
	margin-top: 0px;
	padding-right: 150px;
	padding-left: 150px;
}

.navbar-brand_sf{
	height: 38px;
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: -30px;
	margin-right: -30px;
}

.carousel-control_left_sf{
	width: 25%;
}

.carousel-control_right_sf{
	width: 30%;
}

.glyphicon_left_sf{
	left: 58%;
}

.glyphicon_right_sf{
	left: 48%;
}

.star_star{
	max-width:45px;
	max-height:45px;
	padding-right:10px;
	float: left;
}

.star_title{
	font-size: 24px;
	font-weight:bold;
}

.container{
	width: 970px;
	/* width: 72%; */
}

.featurette-divider_top{
	margin: 80px 0;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 80px;
	margin-left: 0px;
}

.featurette-divider_sf{
	margin: 20px 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}

.center_div {
  margin:0px auto; 
  width:285px;
  text-align:center;
  
  }
  
.title3_cloud{
	font-weight:bold
}

.well_panel{
	overflow:hidden;
	/* height:300px */
	min-height :180px;
}


.well_placeholder_panel{
	min-height :5px;
	padding-top: 3px;
	margin-bottom: 0px;
}

.well_panel_title{
	margin-bottom: 0px;
	min-height :5px;
	max-height: 50px;
	overflow:hidden;
}

.o2o_title_panel{
	float:left;
}

.o2o_content_panel{
	margin-left: 70px;
}

.text_all_align{
	padding-top: 20px; 
	padding-bottom: 20px; 
}

.text_lead{
	margin-top: 10px;
	margin-bottom: 0px;
	color: #4682B4;
}

.gray_hr{
	border: 0;
	border-top: 1px solid #eee;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: gray;
}


.text_indent{
	text-indent:2em;
}

.carousel_caption_o2o{
	right: 70%;
	left: 30%;
	padding-bottom: 20px;
}

.carousel_caption_cloudservice{
	right: 71%;
	left: 29%;
	padding-bottom: 20px;
}

.carousel_caption_mobileservice{
	right: 36%;
	left: 64%;
	padding-bottom: 30px;
}

.sf_weixin{
	max-width:100px;
	max-height:100px;
}


.nested_video{
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.text-align_center{
	text-align:center;
}

.home_pic{
	height: 469px;
	margin-bottom: 5px;
}

.zan{
	padding-top: 7px;
}

.blue_sf{
	background-color: #ddf1ff;
}

.blue_title_panel_sf{
	min-height:10px; 
	background-color: #4590c4;
}

.line_service1_sf{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
}

.line_service2_sf{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #c0c0c0;
}

.line_home_sf{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	min-height        : 222px;
}

.line_video_sf{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #428bca;
	margin-bottom: 5px;
	padding-right:0px;
	padding-left: 0px;
}

.carousel-indicators_sf{
	/* bottom: -8px; */
}

.font_home_desc{
	font-size: 12px;
}

.container_mycarousel{
	/* width: 100%; */
	width:       1349px;
	padding-right:0px;
	padding-left: 0px;
}

.well_panel_cloud{
	overflow:hidden;
	/* height:300px */
	min-height :200px;
}

.sf_row_margin{
	margin-left: 0px;
	margin-right: 0px;
}

.jefen_case_demo_home{
	overflow:hidden;
	max-height : 250px;
	
}

.bold_text_align{
	font-weight:bold; 
	text-align:center;
}

.carousel_sf{
	max-height: 250px;
}
